.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  box-shadow: 0 1px 5px #ccc;
}

.navbar-btn {
  cursor: pointer;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-row.comments {
  justify-content: start;
}

.post-container {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.likes {
  border-radius: 5px;
}

.created {
  color: #777;
}

.login-form {
  width: 60%;
  margin-left: 20%;
}

.login-form label {
  width: 100%;
}

.login-form button {
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

